<div class="h-10 w-full relative" tabindex="-1" #wrap>
    <input 
        type="text" 
        [value]="optionSelected?.display" 
        (focus)="showOptions = true"
        class="w-full h-full px-2 border border-content rounded text-content bg-transparent cursor-pointer
            focus:border-none focus:outline focus:outline-primary focus:text-primary">
    <div *ngIf="showOptions" class="sticky top-full pt-2 bg-transparent min-w-full">
        <ul class="border rounded overflow-hidden w-full bg-transparent">
            <li *ngFor="let option of options" (click)="onChooseOption(option)"
                class="cursor-pointer bg-background p-2 hover:bg-primary z-20">
                {{option.display}}
            </li>
        </ul>
    </div>
</div>