/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
    --color-background: #f8fafc;
    --color-paper: #e2e8f0;
    --color-primary: #3b82f6;
    --color-success: #10b981;
    --color-error: #ef4444;
    --color-content: #1f2937;
    --color-warning: #f97316;
}

.theme-dark {
    --color-background: #374151;
    --color-paper: #1f2937;
    --color-primary: #3b82f6;
    --color-success: #10b981;
    --color-error: #ef4444;
    --color-content: #f1f5f9;
    --color-warning: #f97316;
}
